[colors]
# JPC Light
# Author: Jean-Philippe Cugnet

foreground          = #101010
foreground_bold     = #151515
cursor              = #151515
cursor_foreground   = #FFFFFF
background          = rgba(255, 255, 255)

# 16 color space

# Black, Gray, Silver, White
color0  = #FFFFFF
color8  = #666666
color7  = #101010
color15 = #202020

# Red
color1  = #990000
color9  = #E50000

# Green
color2  = #00B618
color10 = #00C918

# Yellow
color3  = #999900
color11 = #ABA800

# Blue
color4  = #1744B0
color12 = #3777E6

# Purple
color5  = #B200B2
color13 = #E500E5

# Teal
color6  = #00A6B2
color14 = #10BBBB