[colors]
# JPC Dark
# Author: Jean-Philippe Cugnet

foreground          = #BFBFBF
foreground_bold     = #FFFFFF
cursor              = #BFBFBF
cursor_foreground   = #BFBFBF
background          = #151515

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #666666
color7  = #BFBFBF
color15 = #FFFFFF

# Red
color1  = #BF0000
color9  = #FF4444

# Green
color2  = #00BF00
color10 = #00FF00

# Yellow
color3  = #BFBF00
color11 = #FFFF00

# Blue
color4  = #3333BF
color12 = #5555FF

# Purple
color5  = #BF00BF
color13 = #FF00FF

# Teal
color6  = #00BFBF
color14 = #00FFFF